
@model Board.Controllers.NoticeDto

@{
    ViewData["Title"] = "Details";
}

@section Scripts {
    <script>
        function DeleteFunction(id) {
            let isExecuted = confirm("게시글을 삭제하시겠습니까?");
            if (isExecuted == true) {
                //var formData = $("#form-delete").serialize();
                    $.ajax({
                        url: 'https://localhost:7295/Notices/Delete/' + id,
                        type: "POST",
                        //data: formData,
                        success: function (data) {
                        window.location.href = "https://localhost:7295/Notices/Index/"
                        },
                    });
            }else{
                alert('삭제취소');
                }
            }
        
       
        function fileCheck(filename){
            console.log(typeof filename)
            console.log(filename)
            if (filename == "System.Collections.Generic.List`1[Board.Models.FileModel]") {
                 alert('첨부된 파일이 없습니다.');
                $('#downloadZone').hide();
            } else {
                $('#downloadZone').show();
            }
        }

        var comment_id = ""

        function commentedit(id){
            comment_id = id;
        }

        function CommentEdit() {
            var UserName = $('#Username').val();
            var editComment = $('#editComment').val();
            $.ajax({
                url: 'https://localhost:7295/Notices/CommentEdit/' + comment_id,
                type: "POST",
                data: {
                    //"Id": comment_id,
                    "UserName": UserName,
                    "editComment": editComment,
                },
 
                success: function (data) {
                    location.reload();
                },
                error: function (request, textStatus, error) {
                    console.log("code: " + request.status)
                    console.log("message: " + request.responseText)
                    console.log("error: " + error);
                }
                });
            }


    </script>
}

@*게시글 보는 곳*@
<div class="whole-wrap" style="margin:30px;">

    <div class="titleSection" style="margin-bottom:20px;">
        @Html.DisplayFor(@Model => @Model.Category)
        <h4> @Html.DisplayFor(@Model => @Model.Title) </h4>
    </div>

    <div style="background-color:#F4FFFF; padding-left:20px; padding-right:20px; display:flex; justify-content:space-between;">
        <div>
            @Html.DisplayFor(@Model => @Model.UserName) 님
        </div>
        <div>
            @Html.DisplayFor(@Model => @Model.UpdateDate)
        </div>
    </div>

    @*파일다운로드*@
    <div id="downloadZone" style="margin-top:30px;">
        @if (Model.FileModel != null && Model.FileModel.Count > 0)
        {
            <h6>Download File</h6>
            @foreach (var item in Model.FileModel)
            {
                <div></div>
                <a asp-action="FileDownload" asp-route-filename="@item.FileNames">@Html.DisplayFor(modelItem => item.FileNames) File Download</a>
            }
        }
    </div>
    <div class="board-section">
        <div style="padding:20px;">
            @Html.Raw(Model.Content);
        </div>

        <div style="display:flex; margin-top:20px; justify-content:space-between;">
            @*게시글 수정/삭제 버튼*@
            <div style="display:flex; ">
                <div style="margin-right:10px;">
                    <a asp-action="Edit" class="btn btn-outline-dark" asp-route-id="@Model?.Id">게시글 수정</a>
                </div>
                <div>
                        <input type="button" class="btn btn-outline-danger" onclick="DeleteFunction('@Model?.Id')" value="게시글 삭제"></input>
                </div>
            </div>
             @*좋아요*@
             <div>
                <a asp-action="Likes" asp-route-Id="@Model.Id" class="btn btn-outline-primary">좋아요</a>
            </div>
        </div>
        <hr />

        <div class="comment-section">
            @*댓글보는 곳*@
            <h6>댓글</h6>
            <table class="table">
                <tbody id="firstPage">
                    @foreach (var item in Model.Comments)
                    {
                        <div class="userName-section" style="background-color:#E8F5FF;">
                            @Html.DisplayFor(modelItem => item.UserName) 님
                        </div>
                        <div style="display:flex; justify-content:space-between; align-items: center; ">
                            <div class="commentText-section">
                                @Html.DisplayFor(modelItem => item.Comment)
                            </div>
                            <div style="display:flex; margin-top:20px; align-items: center;">
                                @*댓글 수정*@
                                
                                    <div style="margin-right:10px;" >
                                        @*asp-action ="commentEdit"*@
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="commentedit('@item.Id')">
                                           수정
                                        </button>
                                    </div>
                                    <div>
                                        <form asp-action="CommentDelete" method="post">
                                            <input type="hidden" name="commentId" asp-for="@item.Id" />
                                            <input type="hidden" name="Id" asp-for="@Model.Id" />
                                            <input type="submit" value="삭제" class="btn btn-outline-danger" />
                                        </form>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
        </div>
       
        <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">댓글 수정</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        @*<div class="modal-body" id="commentBody">*@
                         <div style="margin-left:10px;">
                            <h6>이름</h6>
                            @*value=@Model.UserName*@
                            <input type="text" id="Username"/><br />
                        </div>
                            <br />
                        <div style="margin-left:10px; margin-bottom:10px; width:100%;">
                            <h6>댓글</h6>
                            <input type="text" id="editComment"/>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="button" class="btn btn-primary" id="saveBtn" onclick="CommentEdit()" value="댓글수정" />
                        </div>
                    </div>
                </div>
            </div>
        
        @*</div>*@

        </table>

        @*코멘트 작성 부분*@
        <div>
            <form asp-action="CommentCreate" method="post">
                <div style="margin-bottom:20px;">
                    이름:  <input type="text" name="username" /> <br />
                </div>
                <div style="display:flex; margin-bottom:20px;">
                    <textarea rows="4" cols="90" name="comment"></textarea><br />
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-secondary btn-lg">댓글등록</button>
                </div>
            </form>

            <a asp-action="Index">Back to List</a>
        </div>
    </div>
