
@model Board.Controllers.NoticeDto


@{
    ViewData["Title"] = "Details";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var controll = false;
            $(".editBtn").click(function () {
                controll = !controll;
                //댓글 개별 ID 받아오기 how? this.data('id')로?
                var Id = $(this).attr('id');
                var UserName = $(this).attr('username')
                
                console.log(Id, UserName)
                if (controll) {
                    $("#firstPage").hide();
                    $(".modal").show();
                    $('#cancel').show();
                    $('#commentBody').append(`<input type="hidden" value="${Id}" name="Id"/>`);
                    $('#commentBody').append(`<input type="hidden" value="${UserName}" name="UserName"/>`);
                } else {
                    $("#firstPage").show();
                    $('#cancel').hide();
                    $(".modal").hide();
                }
            });
            $("#cancel").click(function () {
                $("#firstPage").show();
                $('#cancel').hide();
                $(".modal").hide();
            });
        });
    </script>
}

<h1>Details</h1>

<div>
    <h4>Notice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(@Model => @Model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(@Model => @Model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(@Model => @Model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(@Model => @Model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(@Model => @Model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(@Model => @Model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(@Model => @Model.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(@Model => @Model.UpdateDate)
        </dd>

    </dl>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    댓글내용
                </th>
                <th>
                    이름
                </th>
                <th>
                    수정/삭제
                </th>
            </tr>
        </thead>
        <tbody id="firstPage">
                @foreach (var item in Model.Comments)
                {
                    <tr id ="pageContent">
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                        <button type="button" class="btn btn-primary editBtn" data-bs-toggle="modal" data-bs-target="#exampleModal" id="@item.Id" username="@item.UserName">
                            Edit
                        </button>
                        <form asp-action="CommentDelete" method="post">
                            <input type="hidden" name ="commentId" asp-for="@item.Id" />
                            <hr>
                            <input type="submit" value="Delete" class="btn btn-danger" /> 
                        </form>
                        </td>
                    </tr>
                }
        </tbody>
        <td>
            <button id="cancel">댓글수정 취소</button>
        </td>
      @*  <div id="secondContent">*@
            <!-- Modal -->
            
        
        <form asp-action="CommentEdit" method="post">
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="commentBody">
                            <input type="text" name="editComment" />
                             @*model.id = notice id, username도 notice username일걸?*@
                            <input type="hidden" asp-for="@Model.Id" />
                            </div>
                            <div class="modal-footer">
                           
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="saveBtn">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        @*</div>*@
                   
                


    </table>
    <div>

        <div>
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
        </div>
        <div>
            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model?.Id">Delete</a>
        </div>

    </div>

   @* comment Post 나올때 쓸 from tag*@
   @* <form asp-action="CommentEdit" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit">Register</button>
    </form>*@


   

    <div>
        <form asp-action="CommentCreate" method="post">
            username:  <input type="text" name="username" /> <br />
            Comment: <textarea name="comment"></textarea><br />
            <input type="hidden" asp-for="Id" />
            <button type="submit">Register</button>
        </form>
       
    <a asp-action="Index">Back to List</a>
    </div>
</div>

@*<div>
    <h4>Notice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
    <div>*@