@*@model IEnumerable<Board.Models.Notice>*@
@model Board.Models.NoticeCategory


@{
    ViewData["Title"] = "Index";
}

@section Scripts{
    <script>

        function ChangeSelete(){
            var optionSeleted = document.getElementById('selected');

            var selected = optionSeleted.options[optionSeleted.selectedIndex].value;
            console.log(selected)

        

            window.location.href = "/Notices/Index/?Category=" + selected;
        }

    </script>
}
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
@*
asp-items="Model.Categorys"*@


<select asp-for="Category" asp-items="Model.Categorys" id="selected" onchange="ChangeSelete()">
   
        <option value="">All</option>
    @*<option value="무료나눔"></option>
    <option value="정보">정보</option>
    <option value="잡담">잡담</option>*@
    
</select>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notices![0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notices![0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notices![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notices![0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notices![0].UpdateDate)
            </th>
            <th>
                조회수
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Notices!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
            <td>
               <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a> 
            </td>
          @* <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Views_Number)
               @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
           
        </tr>

           
}
        <form asp-controller="Notices" asp-action="Index" method="get">
            <p>
                Title: <input type="text" name="SearchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>
</table>
